#text {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: #333;
}

#gif {
  position: relative;
  text-align: center;
}

#display {
  color: #5a3d1c;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  z-index: 6;
  position: relative;
  text-align: center;
}

#memo {
  color: #8b4513;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  z-index: 6;
  position: relative;
  text-align: center;
}

#obsNotification {
  visibility: hidden;
  z-index: 1;
}
#obsNotification.show {
  visibility: visible;
  animation:
    fadeIn 0.5s,
    fadeOut 0.5s 4s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
